{% extends "layout.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
    <section class="education">
        <h1 class="title">Education</h1>

        <div class="education-container">
            
            <div class="education-card">
                <h3>School</h3>
                <div class="school">
                    <h5>IV Liceum Ogólnokształcące z Oddziałami Integracyjnymi im. Jana Pawła II w Jaśle</h5>
                    <div class="date">
                        <p>09.2022 - 05.2026</p>
                    </div>
                    
                    <div class="description">
                        <h5>Matura exam reasults:</h5>
                        <p>• Extended Mathematics – 92%</p>
                        <p>• Extended English – 93%</p>
                        <p>• Extended Computer Science – 82%</p>
                        <br>
                    </div>
                </div>

                <div class="school">
                    <h4>Bachelor’s degree: Computer Science</h4>
                    <h5>Warsaw University of Technology - Warsaw</h5>
                    <div class="date">
                        <p>10.2026 - Present</p>
                    </div>
                </div>
            </div>

            <div class="education-card">
                <h3>Certificates</h3>
                <div class="certificate">
                    <div class="date">
                        <p>data</p>
                    </div>
                    
                    <div class="description">
                        <p>opis</p>
                    </div>
                </div>
            </div>

            <div class="education-card">
                <h3>Courses</h3>
                <div class="course">
                    <div class="date">
                        <p>data</p>
                    </div>
                    
                    <div class="description">
                        <p>opis</p>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </section>
{% endblock %}