{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section id="home" class="home">
        <div class="home-container">
            <img src="static/images/zdjecie_cv_kwadrat.jpg" alt="picture of me(very handsome)">

            <div class="home-info">

                <div class="text">
                    <h3>Hi, I'm</h3>
                    <h1>Jakub Myśliwiec</h1>
                    <span>Computer Science student at the Warsaw University of Technology</span>
                </div>

                <div class="home-buttons">
                    <a class="button" href="static/cv/CV_Jakub_Mysliwiec_EN.pdf">Download CV</a>
                    <a class="button" href="static/cv/CV_Jakub_Mysliwiec_PL.pdf">Download CV</a>
                </div>

                <div class="cv-language">
                    <p>EN</p>
                    <p>PL</p>
                </div>

                <div class="socials">
                    <a href="https://github.com/mysliwego" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/j-mysliwiec/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}