{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <section id="projects" class="projects">
        <h1 class="title">Projects</h1>

        <div class="projects-grid">
            <div class="project-card">
                <img src="static/images/random_project.png" alt="Random photo">
                <h3>Project 1</h3>
                <p>Short description</p>
                <div class="projects-button">
                    <div class="button">Live Demo</div>
                    <div class="button">Github Repo</div>
                </div>

                <div class="projects-tech">
                    <div class="tech">HTML</div>
                    <div class="tech">CSS</div>
                    <div class="tech">Python</div>
                </div>
            </div>

            <div class="project-card">
                <img src="static/images/portfolio_project.png" alt="Photo of home page">
                <h3>Web Portfolio</h3>
                <p>A personal portfolio website which presents my background, skills, education, projects, and includes a contact form.</p>
                <div class="projects-button">
                    <div class="button">Live Demo</div>
                    <div class="button">Github Repo</div>
                </div>

                <div class="projects-tech">
                    <div class="tech">HTML</div>
                    <div class="tech">CSS</div>
                    <div class="tech">Python</div>
                    <div class="tech">Flask</div>
                </div>
            </div>

            <div class="project-card">
                <img src="static/images/random_project.png" alt="Random photo">
                <h3>Project 3</h3>
                <p>Short description</p>
                <div class="projects-button">
                    <div class="button">Live Demo</div>
                    <div class="button">Github Repo</div>
                </div>

                <div class="projects-tech">
                    <div class="tech">HTML</div>
                    <div class="tech">CSS</div>
                    <div class="tech">Python</div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}