{% extends "layout.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
    <section class="skills">
        <h1 class="title">Skills</h1>

        <div class="skills-container">

            <div class="skills-card">
                <i id=font-size class="fa-brands fa-python"></i>
                <h3>Programming</h3>
                <div class="skills-text">
                    <p>•Python</p>
                    <p>•C</p>
                    <p>•C++</p>
                    <p>•Object-Oriented Programming</p>
                    <p>•Data Structures & Algorithms</p>
                </div>
            </div>

            <div class="skills-card">
                <i class="fa-solid fa-code"></i>
                <h3>Web Development</h3>
                <div class="skills-text">
                    <p>•HTML</p>
                    <p>•CSS</p>
                    <p>•Flask</p>
                    <p>•Jinja2</p>
                    <p>•Bootstrap</p>
                </div>
            </div>

            <div class="skills-card">
                <i id=font-size class="fa-brands fa-git-alt"></i>
                <h3>Databases & Tools</h3>
                <div class="skills-text">
                    <p>•SQL</p>
                    <p>•Git</p>
                    <p>•Github</p>
                    <p>•VS Code</p>
                    <p>•Microsoft Office</p>
                    <p>•AI Tools</p>
                </div>
            </div>

            <div class="skills-card">
                <i class="fa-regular fa-comments"></i>
                <h3>Soft Skills</h3>
                <div class="skills-text">
                    <p>•Problem Solving</p>
                    <p>•Analytical Thinking</p>
                    <p>•Self-Learning</p>
                    <p>•Communication</p>
                    <p>•Teamwork</p>
                    <p>•Time Management</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}