{% extends "layout.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
    <section class="skills">
        <h1 class="title">Skills</h1>

        <div class="skills-container">

            <div class="skills-card">
                //font
                <h3>Skills type</h3>
                <div class="skills-text">
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                </div>
            </div>

            <div class="skills-card">
                //font
                <h3>Skills type</h3>
                <div class="skills-text">
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                </div>
            </div>

            <div class="skills-card">
                //font
                <h3>Skills type</h3>
                <div class="skills-text">
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                </div>
            </div>

            <div class="skills-card">
                //font
                <h3>Skills type</h3>
                <div class="skills-text">
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                    <p>-skill1</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}